:root {
    --color-white: #FFFFFF;
    --overlay-color: rgba(0, 0, 0, 0.8);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 62.5%; /* 10px = 1rem assuming browser default font size is 16px */
    line-height: 1.7;
    font-weight: 400;
    color: var(--color-white);
}

.body-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
	gap: 2px;
}

.image-item {
    width: 24%;
    height: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease, filter 0.5s ease;
}

.info {
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding: 0 30px;
    transition: transform 0.5s ease;
}

.info h2 {
	font-size: 2rem;
	font-weight: 700;
	line-height: 2rem;
	text-transform: uppercase;
	font-family: 'Inter', sans-serif;
	margin-bottom: 5px;
	
}
.info p{
	font-size: 1rem;
	line-height: 1.6rem;
	font-weight: 400;
	opacity: .7;
	font-family: 'Poppins', sans-serif;
	padding-top: 7px;
}

.info h2, .info p {
    margin: 0;
    transition: transform 0.5s ease;
}

.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 30px;
	background-image: linear-gradient(to top, var(--overlay-color) 0%, transparent 100%);
	z-index: 1;
	transition: opacity 0.5s ease;
	opacity: 0;
	
}

.know-more {
    display: block;
    color: #14a7b8;
    text-decoration: none;
    font-size: 1rem;
	line-height: 1rem;
    transition: opacity 0.5s ease;
    opacity: 0;
	font-weight: 400;
    
}

.image-item:hover img {
	filter: blur(.5rem) grayscale(100%);
	transform: scale(1.1);
	-webkit-filter: blur(.5rem) grayscale(100%);
}

.image-item:hover .info h2, .image-item:hover .info p {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
}

.image-item:hover .overlay {
    opacity: 1;
}

.image-item:hover .know-more {
    opacity: 1; 
}

/*Tablet Landscape: from 600 to 900px*/
@media only screen and (max-width: 900px){
    .info, .overlay {
        display: none;
    }
}
/*Mobile Landscape: from 0 to 600px*/
@media only screen and (max-width: 600px){
    .info, .overlay {
        display: none;
    }
}
